<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
    <div class="card sticky-top">
        <div class="card-body">
            <h3 class="font-16">Ordenar por</h3>
            <select class="form-control">
                <option>Opcion 1</option>
                <option>Opcion 2</option>
            </select>
        </div>
        
        <div class="card-body border-top">
            <h3 class="font-16">Grupos</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck10">
                <label class="custom-control-label" for="customCheck10">Grupo 1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck11">
                <label class="custom-control-label" for="customCheck11">Grupo 2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck12">
                <label class="custom-control-label" for="customCheck12">Grupo 3</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck13">
                <label class="custom-control-label" for="customCheck13">Grupo 4</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck14">
                <label class="custom-control-label" for="customCheck14">Grupo 5</label>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Tipos</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck15">
                <label class="custom-control-label" for="customCheck15">Tipo 1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck16">
                <label class="custom-control-label" for="customCheck16">Tipo 2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck17">
                <label class="custom-control-label" for="customCheck17">Tipo 3</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck18">
                <label class="custom-control-label" for="customCheck18">Tipo 4</label>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Fecha</h3>
            <select class="form-control">
                <option selected>Select the Age</option>
                <option value="20-30">20-30</option>
                <option value="30-40">30-40</option>
                <option value="40-50">40-50</option>
            </select>
        </div>
        <div class="card-body border-top">
            <a href="#" class="btn btn-secondary btn-lg btn-block">Filtrar</a>
        </div>
    </div>
</div>